# Week 3 Part 2

In [1]:
import numpy as np
import pandas as pd
#pd.set_option("display.max_columns", None)
#pd.set_option("display.max_rows", None)
import json
from geopy.geocoders import Nominatim
import requests
from bs4 import BeautifulSoup
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import folium
print("Libraries imported.")

Libraries imported.

## Load the saved data from part 1

In [2]:
toronto_df = pd.read_csv('toronto_neighborhoods.csv')
toronto_df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

## Load the co-ordinates from the provided CSV file

In [3]:
# !wget --quiet https://doc-0s-1g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/gr9ibdrea5ejfpoc5ndl5h5d8psiv5k3/1566403200000/12644258355855518138/*/1HogmvkRGsxw-UDBuhYnb3rQQSc6VM_vH?e=download -O newyork_data.json
# !wget --quiet https://doc-0o-1g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/no92sf32shej4d7tqfauofldsdu61i6i/1566396000000/12644258355855518138/*/1Ucy4WcBERD0j0I092vm2Lw0nqV35GxEw?e=download -O Geospatial_Coordinates.csv
coordinates = pd.read_csv("Geospatial_Coordinates.csv")
coordinates.rename(columns={"Postal Code": "PostalCode"}, inplace=True)
coordinates.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

## Merge the tables to attach co-ordinates to Postal Codes

In [4]:
toronto_df = toronto_df.merge(coordinates, on="PostalCode", how="left")
toronto_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

## Save cleaned data to be imported into the next part

In [5]:
toronto_df.to_csv('toronto_neigh_latlong.csv',index=False)
toronto_df.shape

(103, 5)